@model Core.Dto.StaffDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить сотрудника</title>
    <link href="~/css/add.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Добавить нового сотрудника</h1>
    <nav class="admin-menu">
        <a href="/Admin/ManagePizzeria">Manage Pizzerias</a>
        <a href="/Admin/ManagePizzas">Manage Pizzas</a>
        <a href="/Admin/ManagePizzaAvailable">Manage PizzasAvailable</a>
        <a href="/Admin/ManageStaffs">Manage Staffs</a>
        <a href="/Admin/ManageReview">Manage Reviews</a>
        <a href="/Admin/ManageOrders">Manage Orders</a>
        <a href="/Admin/ManageOrderItems">Manage OrderItems</a>
        <a href="/Admin/ManageUser">Manage Users</a>
    </nav>
</header>

<main>
    <form action="/Admin/AddStaff" method="post">
        <div>
            <label for="FirstName">Имя</label>
            @Html.TextBoxFor(m => m.FirstName, new { @required = "required" })
        </div>
        <div>
            <label for="LastName">Фамилия:</label>
            @Html.TextAreaFor(m => m.LastName, new { @required = "required" })
        </div>
        
        <button type="submit" class="btn">Добавить сотрудника</button>
    </form>

</main>

<footer>
</footer>

</body>
</html>