@model Core.Dto.StaffDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменить сотрудника</title>
    <link href="~/css/edit.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Изменить сотрудника</h1>
    <nav class="admin-menu">
        <a href="/Admin/ManagePizzeria">Manage Pizzerias</a>
        <a href="/Admin/ManagePizzas">Manage Pizzas</a>
        <a href="/Admin/ManagePizzaAvailable">Manage PizzasAvailable</a>
        <a href="/Admin/ManageStaffs">Manage Staffs</a>
        <a href="/Admin/ManageReview">Manage Reviews</a>
        <a href="/Admin/ManageOrders">Manage Orders</a>
        <a href="/Admin/ManageOrderItems">Manage OrderItems</a>
        <a href="/Admin/ManageUser">Manage Users</a>
    </nav>
</header>

<main>
    <h3>Editing Staff: @Model.StaffId </h3>
    <form action="/Admin/UpdateStaff/@Model.StaffId" method="post">
        <input type="hidden" name="StaffId" value="@Model.StaffId" />
        <div>
            <label for="FirstName">Имя:</label>
            <input id="FirstName" name="FirstName" value="@Model.FirstName" required />
        </div>
        <div>
            <label for="LastName">Фамилия:</label>
            <input id="LastName" name="LastName" value="@Model.LastName" required />
        </div>

        <button type="submit" class="btn">Сохранить</button>
    </form>

</main>

<footer>
    <p>:)</p>
</footer>

</body>
</html>