<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение заказа</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

<div class="order-confirmation">
    <h1>Ваш заказ принят в обработку, спасибо за заказ!</h1>
    <p>Ваш заказ будет скоро обработан.</p>
    <a href="/Home" class="btn">Вернуться на домашнюю страницу</a>
    <a href="/Order/LeaveReview" class="btn">Оставить отзыв</a> 
</div>

<footer>
    <p>Pizza World - Best Pizza in Town!</p>
</footer>
</body>
</html>
