@model Core.Dto.UpdateUserDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменить пользователя</title>
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Изменить пользователя</h1>
    <nav class="admin-menu">
        <a href="/Admin/ManagePizzerias">Manage Pizzerias</a>
        <a href="/Admin/ManagePizzas">Manage Pizzas</a>
        <a href="/Admin/ManagePizzasAvailable">Manage PizzasAvailable</a>
        <a href="/Admin/ManageStaffs">Manage Staffs</a>
        <a href="/Admin/ManageReview">Manage Reviews</a>
        <a href="/Admin/ManageOrders">Manage Orders</a>
        <a href="/Admin/ManageOrderItems">Manage OrderItems</a>
        <a href="/Admin/ManageUser">Manage Users</a>
    </nav>
</header>

<main>
    <form action="/Admin/UpdateUser/@Model.UserId" method="post">
        <div>
            <label for="Name">Имя:</label>
            <input id="Name" name="Name" value="@Model.Name" required />
        </div>
        <div>
            <label for="SurName">Фамилия:</label>
            <input id="SurName" name="SurName" value="@Model.SurName" required />
        </div>
        <div>
            <label for="Email">Электронная почта:</label>
            <input id="Email" name="Email" type="email" value="@Model.Email" required />
        </div>
        <div>
            <label for="Phone">Телефон:</label>
            <input id="Phone" name="Phone" type="tel" value="@Model.Phone" required />
        </div>

        <button type="submit" class="btn">Сохранить</button>
    </form>
</main>

<footer>
</footer>

</body>
</html>
