@model Core.Models.Pizzeria

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить Пиццерию</title>
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Добавить новую Пиццерию</h1>
    <nav class="admin-menu">
        <a href="/Admin/ManagePizzeria">Manage Pizzerias</a>
        <a href="/Admin/ManagePizzas">Manage Pizzas</a>
        <a href="/Admin/ManagePizzasAvailable">Manage PizzasAvailable</a>
        <a href="/Admin/ManageStaffs">Manage Staffs</a>
        <a href="/Admin/ManageReview">Manage Reviews</a>
        <a href="/Admin/ManageOrders">Manage Orders</a>
        <a href="/Admin/ManageOrderItems">Manage OrderItems</a>
        <a href="/Admin/ManageUser">Manage Users</a>
    </nav>
</header>

<main>
    <form action="/Admin/AddPizzeria" method="post">
        <div>
            <label for="Title">Название</label>
            @Html.TextBoxFor(m => m.Title, new { @required = "required" })
        </div>
        <div>
            <label for="Rating">Рейтинг:</label>
            @Html.TextAreaFor(m => m.Rating, new { @required = "required" })
        </div>
        <div>
            <label for="Address">Адрес:</label>
            @Html.TextAreaFor(m => m.Address, new { @required = "required" })
        </div>
        <div>
            <label for="CourierAmount">Количество курьеров:</label>
            @Html.TextAreaFor(m => m.CourierAmount, new { @required = "required" })
        </div>
        
        <button type="submit" class="btn">Добавить пиццерию</button>
    </form>

</main>

<footer>
</footer>

</body>
</html>