@model Core.Models.Pizzeria

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменить пиццерию</title>
    <link href="~/css/edit.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Изменить пиццерию</h1>
    <nav class="admin-menu">
        <a href="/Admin/ManagePizzeria">Manage Pizzerias</a>
        <a href="/Admin/ManagePizzas">Manage Pizzas</a>
        <a href="/Admin/ManagePizzaAvailable">Manage PizzasAvailable</a>
        <a href="/Admin/ManageStaffs">Manage Staffs</a>
        <a href="/Admin/ManageReview">Manage Reviews</a>
        <a href="/Admin/ManageOrders">Manage Orders</a>
        <a href="/Admin/ManageOrderItems">Manage OrderItems</a>
        <a href="/Admin/ManageUser">Manage Users</a>
    </nav>
</header>

<main>
    <form action="/Admin/UpdatePizzeria/@Model.PizzeriaId" method="post">
        <div>
            <label for="Title">Имя:</label>
            <input id="Title" name="Title" value="@Model.Title" required />
        </div>
        <div>
            <label for="Rating">Рейтинг:</label>
            <input id="Rating" name="Rating" value="@Model.Rating" required />
        </div>
        <div>
            <label for="Address">Адрес:</label>
            <input id="Address" name="Address" value="@Model.Address" required />
        </div>
        <div>
            <label for="CourierAmount">Количество курьеров:</label>
            <input id="CourierAmount" name="CourierAmount" value="@Model.CourierAmount" required />
        </div>

        <button type="submit" class="btn">Сохранить</button>
    </form>

</main>

<footer>
</footer>

</body>
</html>