@model IEnumerable<Core.Models.Pizzeria>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление pizzerias</title>
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Управление pizzerias</h1>
    <nav class="admin-menu">
        <a href="/Admin/ManagePizzeria">Manage Pizzerias</a>
        <a href="/Admin/ManagePizzas">Manage Pizzas</a>
        <a href="/Admin/ManagePizzaAvailable">Manage PizzasAvailable</a>
        <a href="/Admin/ManageStaffs">Manage Staffs</a>
        <a href="/Admin/ManageReview">Manage Reviews</a>
        <a href="/Admin/ManageOrders">Manage Orders</a>
        <a href="/Admin/ManageOrderItems">Manage OrderItems</a>
        <a href="/Admin/ManageUser">Manage Users</a>
    </nav>
</header>

<main>
    <a href="/Admin/AddPizzeria" class="btn">Добавить новую пиццерию</a>
    <div class="pizza-cards-container">
        @if (Model != null && Model.Any())
        {
        foreach (var pizzeria in Model)
        {
        <div class="pizza-card">
            <h3> @pizzeria.Title</h3>
            <p><strong>Рейтинг</strong> @pizzeria.Rating</p>
            <p><strong>Адрес</strong> @pizzeria.Address</p>
            <p><strong>Количество курьеров</strong> @pizzeria.CourierAmount</p>
            <div class="pizza-actions">
                <a href="/Admin/EditPizzeria/@pizzeria.PizzeriaId" class="btn">Edit</a>
                <form action="/Admin/DeletePizzeria/@pizzeria.PizzeriaId" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
        }
        }
        else
        {
        <p>Пиццерии не найдены</p>
        }
    </div>
</main>


<footer>
</footer>

</body>
</html>